/* Los estilos se aplican a todo el documento */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
body {
    background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.5), rgba(99, 0, 0, 0.5)),
            url('../assets/images/background.jpg');
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    color: white;
}

.social-icon {
    width: 5cap;
    width: 48px;
    height: 48px;
}

.social-network {
    width: 5cap;
    list-style: none;
    min-height: 80px;
    align-content: center;
}

.social-network li {
    float: left;
    margin: o 24px;
}

.box {
    background: linear-gradient(135deg, rgb(0, 0, 0));
    color: white;
    margin: auto;
    padding: 20px;
    border-radius: 5%;
    max-width: 800px;
    border-color: white;
    margin: auto;
    max-width: 880px;
    margin-top: 20px;
    padding: 10px 10px 10px;
    border-style: solid;
    text-align: justify;
}

.profile-picture {
    border-radius: 100px;
}

header {
    max-width: 800px;
    margin: auto;
    margin-bottom: 24px;
    margin-top: 45px;
}

header h1 {
    color: aquamarine;
    margin-top: 25px;
    text-align: center;
}

header h1 {
    color: aquamarine;
    margin-top: 25px;
    text-align: center;
}

footer {
    max-width: 800px;
    margin: auto;
    margin-top: 25px;
    text-align: center;
}